<ion-view>
	
    
    <!-- CABECERA -->
	<div style="background-color:#002d5d; border-bottom:5px solid #f44336; position: fixed; width: 100%; z-index: 1;">
		<div class="row">
			<div class="col"><img src="img/ico_menu.png" width="60" style="margin: 5px;" ng-click="toggleProjects()"></div>
			<div class="col col-75" style="padding-top: 11px;" align="right"><img src="img/logo_header.png" width="140" style="margin: 5px;" ng-click="refreshPage()"></div>
		</div>
	</div>

    <ion-content>
    
    	<div style="height:99px">
        </div>
    
    	<ion-refresher on-refresh="refreshHome()" style="margin-top:99px">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
    	
        

        <ion-slides slider="swiper" options="swiperOptions" style="height:300px;">
            <ion-slide-page ng-repeat="banner in home_banner">
            	<a href="#/news_detail/{{banner.id}}">
                	<img src="{{banner.image}}" style="width:100%">
                    <div class="base_azul gradiante_base" style="margin-top: -117px; width: 100%; padding-bottom: 35px;">
                        <div style="font-size:15px">{{ banner.title }}</div>
                        <div style="height: 40px; overflow: hidden; font-family: Cairo-Regular;">{{ banner.subtitle }}</div>
                    </div>
                </a>
            </ion-slide-page>
        	
        </ion-slides>
        

        

		<!-- SLIDER -->
        <!--
        <ion-slide-box>
            <ion-slide >
            	<a href="#/program"><img src="{{banner.image}}" [width]="imgWidth"></a>
			</ion-slide>
		</ion-slide-box>
		-->

		<!-- BOTON DONAR -->
        <div align="center" style="margin-top: 15px; margin-bottom: 17px;" id="bt_quiero_donar">
        	<a href="#/donation"><input type="button" value="¡Quiero Donar!" class="button button-assertive bt_block"/></a>
        </div>

        <!-- LISTA -->
        <div class="list">

			<!-- TITULO -->
            <div class="item item-divider" style="background-color:#002d5d; color:#fff; text-align:center; font-size:19px;">
				¡Últimas Jornadas!
			</div>

			<!-- FICHA BUCLE -->
            <div class="card" ng-repeat="journey in home_journeys">
                
                <div class="item item-divider" style="background-color:{{ journey.program_color }}; color:#fff">
                    {{ journey.program_title }}
                    <img src="{{ journey.program_ico }}" width="30" style="float: right;">
                </div>
                
                <div class="item item-text-wrap">
                    
                    <h2 style="color:#002d5d">{{ journey.title }}</h2>
                    <p style="margin-bottom: 10px; height: 42px; overflow: hidden;">{{ journey.description }}</p>
                    
                    <div align="center">
                        <a href="#/journeys_detail/{{ journey.id }}"><input type="button" value="¡Ver Jornada!" class="button_red bt_listas_jornadas"/></a>
                        <input type="button" value="¡Inscríbete Ahora!" class="button_red bt_listas_jornadas bt_inscripcion" ng-If="activar == 0"  ng-click="Mostar_Alert_Jornada({{ journey.id }})"/>
                    </div>
    
                </div>
            </div>
            
            

       
        
        </div>
		
	</ion-content>
</ion-view>