<ion-view>

	<!-- CABECERA -->
	<div style="background-color:#002d5d; border-bottom:5px solid #f44336; position: fixed; width: 100%; z-index: 100;">
		<div class="row">
			<div class="col"><a href="#/journeys"><img src="img/back.png" width="60" style="margin: 5px;"></a></div>
			<div class="col col-75 titulos_header" >Jornadas</div>
		</div>
	</div>

	<ion-content>

    	<div style="height:99px">
        </div>
        
        <ion-refresher on-refresh="refreshJourneyDetail()" style="margin-top:99px">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
 
        <img src="{{ journey.image }}" width="100%" style="margin-bottom: -5px;">
        
        <table width="100%" style="background-color:{{ journey.program_color }}; color: #fff;">
			<tr>
				<td valign="middle" style="vertical-align: middle; padding:10px">{{ journey.program_title }}</td>
                <td width="30"><img src="{{ journey.program_ico }}" width="25" style="margin-top: 7px;"></td>
			</tr>
		</table>
    
    	<div style="padding: 20px; color:#013a75; font-size:20px; font-family: Cairo-Bold; margin-bottom: 10px; padding-bottom: 0px;">{{ journey.title }}</div>
		<div style="padding: 20px; padding-top: 0; padding-bottom: 0px; color: #b0b0b0; font-family: Cairo-Regular;text-transform: capitalize;">Del {{ journey.start_date }} al {{ journey.end_date }}</div>
        <div style="color:#717171; font-family: Cairo-Regular; padding: 20px; padding-top: 5px; text-align:justify"> {{ journey.description }} </div>
        
        <div align="center" style="padding:20px">
        	¡Comparte esta jornada!<br />
            <img src="img/face.png" width="40" ng-click="Compartir('face','{{ journey.title }}', '{{ journey.description }}', '{{ journey.image }}','{{ journey.start_date }}', '{{ journey.end_date }}' )" />
            <img src="img/twit.png" width="40" ng-click="Compartir('twi','{{ journey.title }}', '{{ journey.description }}', '{{ journey.image }}', '{{ journey.start_date }}', '{{ journey.end_date }}' )" />
            <br />
            <input type="button" value="¡Inscríbete Ahora!" class="button button-assertive bt_block" ng-If="activar == 0" ng-click="Mostar_Alert_Jornada( {{ journey.id }} )" )">
        </div>
		
	</ion-content>

</ion-view>