<ion-slides slider="swiper" options="swiperOptionsGalery" style="height:300px;">
	<ion-slide-page ng-repeat="image in gallery_images_list">
		<img src="{{image.image}}" style="width:100%">
	</ion-slide-page>
</ion-slides>


