<ion-slides slider="swiper" options="swiperOptionsExperience" style="height:300px;">
	<ion-slide-page ng-If="experience_detail.image_2 != null " style="text-align: center;">
		<img src="{{experience_detail.image_2}}">
	</ion-slide-page>
    
    <ion-slide-page ng-If="experience_detail.image_3 != null " style="text-align: center;">
		<img src="{{experience_detail.image_3}}" >
	</ion-slide-page>
    
    <ion-slide-page ng-If="experience_detail.image_4 != null " style="text-align: center;">
		<img src="{{experience_detail.image_4}">
	</ion-slide-page>
    
    <ion-slide-page ng-If="experience_detail.image_5 != null " style="text-align: center;">
		<img src="{{experience_detail.image_5}}">
	</ion-slide-page>
 
</ion-slides>


