<ion-view>

	<!-- CABECERA -->
	<div style="background-color:#002d5d; border-bottom:5px solid #f44336; position: fixed; width: 100%; z-index: 100;">
		<div class="row">
			<div class="col"><img src="img/ico_menu.png" width="60" style="margin: 5px;" ng-click="toggleProjects()"></div>
			<div class="col col-75 titulos_header">Noticias</div>
		</div>
	</div>


    <ion-content ng-controller="newsCtrl" >
 
        <div style="height:99px">
        </div>
        
        <ion-refresher on-refresh="refreshNews()" style="margin-top:99px">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>

        <div align="center">
        	<a href="#/upload_experience"><input type="button" value="Sube tu Experiencia" ng-If="activar == 0" class="button button-assertive bt_block"/></a>
        </div>
        
        <div class="button-bar">
          <a class="button" ng-click="Ver_modulos(1)" style=" border-bottom: 1px solid #c1c1c1;" >Noticias</a>
          <a class="button" ng-click="Ver_modulos(2)" style="border-left: 1px solid #c1c1c1; border-right: 1px solid #c1c1c1; border-bottom: 1px solid #c1c1c1;">Experiencias</a>
          <a class="button" ng-click="Ver_modulos(3)" style=" border-bottom: 1px solid #c1c1c1;">Galerias</a>
        </div>

		<!-- NOTICIAS -->
        <!-- NOTICIAS -->
        <div class="list_noticias" >
            <div ng-repeat="new in news_list" style="margin:15px; ">
            <a href="#/news_detail/{{ new.id }}">
                <img src="{{ new.image }}" width="100%" >
                <div class="base_azul" style="margin-top: -117px;">
                    <div style="font-size: 12px; text-align: right; color: #fff; margin-top: -20px;">{{ new.start_date }}</div>
                    <div style="font-size:15px">{{ new.title }}</div>
                    <div style="height: 40px; overflow: hidden;">{{ new.subtitle }}</div>
                </div>
            </a>
            </div>
        </div>
        
        <!-- EXPERIENCIAS -->
        <!-- EXPERIENCIAS -->
        <div class="list_experiencias" style="display:none">
        	
            <div align="center">
                <table width="90%">
                <tr>
                	<td align="left" width="50%">
                    	<input type="button" value="Mis Experiencias" class="btn_small_blue" ng-Click="My_Experiences()" >
                    </td>
                    <td align="right">
                    	<input type="button" value="Ver Todos" class="btn_small_blue" ng-Click="All_Experiences()" >
                    </td>
                </tr>
                </table>	
            </div>
        
            <div ng-repeat="experience in experiences_list" style="margin:15px">
            	<div ng-If=" experience.employee_id !=  id_empleado" class="others" ></div>
                <a href="#/experience_detail/{{ experience.id }}">
                    <img src="{{ experience.image }}" width="100%" >
                    <div class="base_azul">
                        <div style="font-size: 12px; text-align: right; color: #fff; margin-top: -20px;">{{ experience.experience }}</div>
                        <div style="font-size:15px">{{ experience.title }}</div>
                        <div style="height: 40px; overflow: hidden;">{{ experience.description }}</div>
                    </div>
                    <div style="background-color:{{ experience.program_color }}; padding: 4px; margin-top: -5px; color: #fff; text-align:right" >
                        <img src="{{ experience.program_ico }}" width="20"> 
                    </div>
                </a>
            </div>
        </div>
        
        <!-- GALERIAS -->
        <!-- GALERIAS -->
        <div class="list_galerias" style="display:none">
            <div ng-repeat="gallery in gallery_images_list" style="margin:5px; width:45%; display:inline-table">
				<img src="{{ gallery.image }}" width="100%" ng-click="MostrarImagen('{{ gallery_images_list.indexOf(gallery) }}')" >
            </div>
        </div>
	
	</ion-content>

</ion-view>