<ion-view>
	
    
    <ion-content>
    
		<!-- CABECERA -->
        <div style="background-color:#002d5d; border-bottom:5px solid #f44336; width: 100%; z-index: 100;">
            <div class="row">
                <div class="col"><img src="img/ico_menu.png" width="60" style="margin: 5px;" ng-click="toggleProjects()"></div>
                <div class="col col-75 titulos_header">YO PROPONGO</div>
            </div>
        </div>
        
		<div style="padding: 20px; text-align: center; color: #858585;">
        	¡Crea tu propuesta para continuar ayudando!
		</div>

		<div class="list list-inset" style="padding: 10px; padding-top: 0px; margin-top: 0px;">
        
        	<div class="ti_inputs" style="text-align: center;">Nombre del Programa</div>
			<select id="programa_prop" class="item item-input item-stacked-label" style="width: 100%; padding-top: 14px; padding-bottom: 14px;">
				<option value="">Selecciona...</option>
				<option ng-repeat="program in programs" value="{{ program.id }}">{{ program.title }}</option>
			</select>

			<div class="ti_inputs">No. Empleado</div>
			<label class="item item-input item-stacked-label">
				<input type="text" id="no_empleado_prop" disabled="disabled" style="background-color:#FFF">
			</label>
          
			<div class="ti_inputs">No. Celular</div>
			<label class="item item-input item-stacked-label">
				<input type="text" id="no_celular_prop">
			</label>
          
			<div class="ti_inputs">Descripcion de la jornada</div>
			<label class="item item-input item-stacked-label">
            	<textarea id="descripcion_prop" rows="4"></textarea>
			</label>
          
			<div class="ti_inputs">Poblacion potencialmente participante</div>
			<label class="item item-input item-stacked-label">
				<textarea id="poblacion_prop" rows="4"></textarea>
			</label>
            
            <div class="ti_inputs">Fecha</div>
			<label class="item item-input item-stacked-label">
				<input type="date" id="fecha_prop">
			</label>
            
            <div class="ti_inputs">Lugar propuesta para la ejecución</div>
			<label class="item item-input item-stacked-label">
				<input type="text" id="lugar_prop">
			</label>

		</div>
        
		<div align="center" style="margin-top: 15px; margin-bottom: 17px;">
        	<input type="button" class="button button-assertive" value="Enviar Propuesta" ng-click="Mostar_Alert_Propuesta()" style="width: 80%;">
		</div>
        

	</ion-content>
</ion-view>