<ion-view>
	
    
    
    <ion-content>
    
    	<!-- CABECERA -->
        <div style="background-color:#002d5d; border-bottom:5px solid #f44336; width: 100%; z-index: 100;">
            <div class="row">
                <div class="col"><a href="#/news/2"><img src="img/back.png" width="35" style="margin: 5px; margin-top: 14px;"></a></div>
                <div class="col col-75 titulos_header">SUBIR EXPERIENCIA</div>
            </div>
        </div>

        <div style="padding: 20px; text-align: center;color: #737373;">
        	Cuéntanos tu experiencia ayudando a los demás.
        </div>
        
        <div style="padding: 20px; text-align: center; padding-top: 0px; color: #737373;"> 
        	Sube las fotos de tu experiencia<br />
            <span style="color:#C00">Máx. 5 fotos</span>
        </div>
        
		<!-- formulario -->
        <div style="padding: 20px;padding-top: 0;">
            
            <div align="center">
            <!--
            	<input type="button" value="Subir Foto" class="button button-assertive bt_block">
				<input type="file" id="imagen_ex" style="position: absolute; margin-top: 11px;opacity: 0;left: 0; width: 100%;" ng-model="image_tmp" onchange="angular.element(this).scope().Imagen_Temporal()">
                -->
                <input type="button" ng-click="takePicture()" class="button button-assertive bt_block" value="Cámara">
                <input type="button" ng-click="takeGalery()" class="button button-assertive bt_block" value="Galería">
                
                <table id="img_1" width="80%" ng-click="Eliminar_Foto(1)" style="display:none">
                	<tr>
                    	<td width="40"><img src="img/ico_eliminar.png" width="35" /> </td>
                        <td style="vertical-align: middle;"><span id="name_img_1"></span></td>
                    </tr>
                </table>
                
                <table id="img_2" width="80%" ng-click="Eliminar_Foto(2)" style="display:none">
                	<tr>
                    	<td width="40"><img src="img/ico_eliminar.png" width="35" /> </td>
                        <td style="vertical-align: middle;"><span id="name_img_2"></span></td>
                    </tr>
                </table>
                
                <table id="img_3" width="80%" ng-click="Eliminar_Foto(3)" style="display:none">
                	<tr>
                    	<td width="40"><img src="img/ico_eliminar.png" width="35" /> </td>
                        <td style="vertical-align: middle;"><span id="name_img_3"></span></td>
                    </tr>
                </table>
                
                <table id="img_4" width="80%" ng-click="Eliminar_Foto(4)" style="display:none">
                	<tr>
                    	<td width="40"><img src="img/ico_eliminar.png" width="35" /> </td>
                        <td style="vertical-align: middle;"><span id="name_img_4"></span></td>
                    </tr>
                </table>
                
                <table id="img_5" width="80%" ng-click="Eliminar_Foto(5)" style="display:none">
                	<tr>
                    	<td width="40"><img src="img/ico_eliminar.png" width="35" /> </td>
                        <td style="vertical-align: middle;"><span id="name_img_5"></span></td>
                    </tr>
                </table>
                <hr />
                
			</div>

        
        
        	<div class="ti_inputs" style="text-align: center;">Nombre del Programa</div>
			<select id="programa_insc" class="item item-input item-stacked-label" style="width: 100%; padding-top: 14px; padding-bottom: 14px;">
				<option value="">Selecciona...</option>
				<option ng-repeat="program in programs" value="{{ program.id }}">{{ program.title }}</option>
			</select>

			<div class="ti_inputs">Título</div>
			<label class="item item-input item-stacked-label">
				<input type="text" id="titulo_insc">
			</label>
          
			<div class="ti_inputs">Lugar</div>
			<label class="item item-input item-stacked-label">
				<input type="text" id="lugar_insc">
			</label>
          
         
          
			<div class="ti_inputs">Fecha</div>
			<label class="item item-input item-stacked-label">
				<input type="date" id="fecha_insc">
			</label>
          
			<div class="ti_inputs">Descripción</div>
			<label class="item item-input item-stacked-label">
            	<textarea rows="4" id="descripcion_insc"></textarea>
			</label>

		</div>
        
		<div align="center" style="margin-bottom: 17px;">
        	<input type="button" value="Enviar Experiencia" class="button button-assertive bt_block" ng-click="Subir_Experiencia()">
		</div>
        

	</ion-content>
</ion-view>